.button {
    background-color: #000000;
    border: 2px solid grey;
    padding: 15px;
    text-align: center;
    font-size: 28px;
}

.button:hover {
    background-color: #a31a1a;
}

.button:active {
    box-shadow: 0 5px #3d3d3d;
    transform: translateY(2px);
}

.grey{
    color: grey;
}