.button {
    background-color: #000000;
    border: none;
    box-shadow: 0 9px#505050;
    padding: 30px;
    text-align: center;
    font-size: 28px;
}

.input{

    font-size: 12px 60%;
}

.button:hover {
    background-color: #3f3f3f;
}

.button:active {
    box-shadow: 0 5px #3d3d3d;
    transform: translateY(4px);
}
